{% extends 'base.html' %}

{% block title %}
Create Post
{% endblock %}

{% block content %}
<h1>Create Post Page</h1>
<form action="{{url_for('posts.post')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.img_url.label()}}
        {{form.img_url(class='form-control')}}
      </div>
      <div class="form-group">
        {{form.title.label()}}
        {{form.title(class='form-control')}}
      </div>
    <div class="form-group">
      {{form.caption.label()}}
      {{form.caption(class='form-control')}}
    </div>
    {{form.submit_btn(class='btn btn-primary')}}
</form>
{% endblock %}