{% extends 'base.html' %}

{% block title %}
Update Post
{% endblock %}

{% block content %}
<h1>Update Post</h1>
<form action="{{url_for('posts.update_post', post_id=post.id)}}" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.img_url.label()}}
        {{form.img_url(class='form-control', value=post.img_url)}}
      </div>
      <div class="form-group">
        {{form.title.label()}}
        {{form.title(class='form-control', value=post.title)}}
      </div>
    <div class="form-group">
      {{form.caption.label()}}
      {{form.caption(class='form-control', value=post.caption)}}
    </div>
    <div class="buttons">
      {{form.submit_btn(class='btn btn-primary', value='Update')}}
    </div>
</form>
{% endblock %}