{% extends 'base.html' %}

{% block title %}
Feed
{% endblock %}

{% block content %}
    <h1 class="h1-feed">PokeFeed</h1>
    {% if posts %}
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{post.img_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.caption}}</p>
          <small class="card-subtitle text-muted">{{ post.author.first_name }} said {{moment(post.date_created).fromNow()}}</small>
          <p></p>
        </div>
      </div>
    {% endfor %}
    {% endif %}
{% endblock %}