{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1 class="h1-home">Pokedex!</h1>
    {% for user in users %}
      {% if user != current_user %}
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='../static/images/generic_user.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <p class="card-text">Gotta catch 'em all!</p>
            {% if user.isFollowing %}
            <a href="{{url_for('posts.unfollow', user_id=user.id)}}" class="btn btn-danger">Unfollow</a>
            {% else %}
            <a href="{{url_for('posts.follow', user_id=user.id)}}" class="btn btn-primary">Follow</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% endblock %}