{% extends 'base.html' %}

{% block title %}
    Pokemon Data
{% endblock %}

{% block content %}
<h1 class="h1-poke">Pokemon API</h1>
<form action="{{url_for('main.pokemon')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.name(class="form-control")}}
    </div>
    <div class="poke-btns">
        <div class="buttons">
            {{form.submit_btn(class="btn btn-primary")}}
        </div>
    </div>    
</form>

{% if poke_data %}
<table class="table table-primary">
    {% for pokemon in poke_data %}
    <thead>
        <tr>
            <th scope="col">Pokemon</th>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">Base Experience</th>
            <th scope="col">Sprite URL</th>
            <th scope="col">Attack Base Stat</th>
            <th scope="col">HP Base Stat</th>
            <th scope="col">Defense Base Stat</th>
            <th scope="col">Pokeball</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{pokemon['sprite URL']}}" alt="Pokemon"></td>
            <td>{{pokemon.name.title()}}</td>
            <td>{{pokemon.ability.title()}}</td>
            <td>{{pokemon.base_experience}}</td>
            <td><a href="{{pokemon['sprite URL']}}" target="_blank">Sprite Link</a></td>
            <td>{{pokemon['attack base_stat']}}</td>
            <td>{{pokemon['hp base_stat']}}</td>
            <td>{{pokemon['defense base_stat']}}</td>
            <td>
                <form method="POST" action="{{url_for('main.pokemon')}}">
                    {{ form.hidden_tag() }}
                    {{ form.catch_btn(class="btn btn-primary") }}
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}