* {
    margin: 0;
    padding: 0;
}

body  {
    background-image: url("images/img_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7dad71;
    background-attachment: fixed;
}

.the-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 2em;
}

table {
    margin-top: .5em;
}

td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    color:midnightblue;
    width: 5em;
}

.arena-tables {
    display: flex;
    justify-content: space-between;
}

/* .my-team, .opps-team {
    margin: 1em;
} */

h1 {
    text-align: center;
    color: whitesmoke;
    margin-top: .5em;
    margin-bottom: .5em;
}

.h1-home {
    text-align: center;
    color: whitesmoke;
    margin-top: .5em;
    font-size: 100px;
    font-weight: bold;
}

.btn {
    height: 2.5em;
    width: 6em;
    border-radius: 10px;
    background-color: rgb(17, 93, 192);
    color: white;
    font-size:medium;
    border: none;
}

.buttons {
    padding: 1em;
}

.poke-btns, .poke-btns {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.form-group {
    padding: .3em;
    width: 50%;
    color: white;
    font-weight:500;
    font-size: large;
}

.empty-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}